
.idea/

Sprungdaten_processed/all_data.zip
Sprungdaten_processed/all_data.csv

Sprungdaten_processed/data_only_jumps.zip

Sprungdaten_processed/data_only_jumps.csv

Sprungdaten_processed/data_point_jumps.csv
