
.idea/

Sprungdaten_processed/all_data.zip
Sprungdaten_processed/all_data.csv

Sprungdaten_processed/data_only_jumps.zip

Sprungdaten_processed/data_only_jumps.csv

Sprungdaten_processed/data_point_jumps.csv
/Sprungdaten_processed/data_only_jumps_float_converted.csv
/Sprungdaten_processed/data_only_jumps_float_converted_no_strecksprung.csv

__pycache__/
svc_gnb.log

Sprungdaten_processed/normalized_data.csv

Sprungdaten_processed/data_point_jumps/data_point_jumps.csv

Sprungdaten_processed/data_point_jumps/data_point_jumps_test.csv

Sprungdaten_processed/data_point_jumps/data_point_jumps_train.csv

Sprungdaten_processed/normalized_data/normalized_data.csv

Sprungdaten_processed/normalized_data/normalized_data_test.csv

Sprungdaten_processed/normalized_data/normalized_data_train.csv

Sprungdaten_processed/same_length/same_length_cut_first.csv

Sprungdaten_processed/same_length/same_length_cut_first_test.csv

Sprungdaten_processed/same_length/same_length_cut_first_train.csv

Sprungdaten_processed/same_length/same_length_cut_last.csv

Sprungdaten_processed/same_length/same_length_cut_last_test.csv

Sprungdaten_processed/same_length/same_length_cut_last_train.csv

Sprungdaten_processed/same_length/same_length_padding_0.csv

Sprungdaten_processed/same_length/same_length_padding_0_test.csv

Sprungdaten_processed/same_length/same_length_padding_0_train.csv

Sprungdaten Innotramp/

Sprungdaten_processed/all_data_*

Sprungdaten_processed/with_preprocessed/data_only_jumps.csv

Sprungdaten_processed/without_preprocessed/data_only_jumps.csv
/sgd/all_data_new.csv

venv/
/svc_gnb.log
